Repository OKTW-Network/Galaxy, pull requests merged in 2018-08, with the labels that each got.

#169 Fix notice on planet terminal
  src/main/kotlin/one/oktw/galaxy/gui/machine/PlanetTerminal.kt
Labels: status: needs testing, system: GUI, type: bug

#170 Admin create nether
  src/main/kotlin/one/oktw/galaxy/command/admin/GalaxyManage.kt
Labels: status: needs testing, system: command

#172 Memory leak workaround
  src/main/kotlin/one/oktw/galaxy/gui/BrowserGalaxy.kt
  src/main/kotlin/one/oktw/galaxy/gui/BrowserMember.kt
  src/main/kotlin/one/oktw/galaxy/gui/BrowserPlanet.kt
  src/main/kotlin/one/oktw/galaxy/gui/Confirm.kt
  src/main/kotlin/one/oktw/galaxy/gui/CreatePlanet.kt
  src/main/kotlin/one/oktw/galaxy/gui/GUI.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyInfo.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyJoinRequest.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyManagement.kt
  src/main/kotlin/one/oktw/galaxy/gui/GroupSelect.kt
  src/main/kotlin/one/oktw/galaxy/gui/MainMenu.kt
  src/main/kotlin/one/oktw/galaxy/gui/ManageMember.kt
  src/main/kotlin/one/oktw/galaxy/gui/NumberSelect.kt
  src/main/kotlin/one/oktw/galaxy/gui/UpgradeSlot.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/ChunkLoader.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/PlanetTerminal.kt
Labels: status: needs review, status: needs testing, system: GUI, type: bug, type: performance

#176 Support nether wart right click harvest
  src/main/kotlin/one/oktw/galaxy/player/event/Harvest.kt
Labels: status: needs testing, type: bug, type: enhancement

#177 sleep status ignore viewer
  src/main/kotlin/one/oktw/galaxy/player/event/Viewer.kt
Labels: type: bug

#179 just listen needed event
  src/main/kotlin/one/oktw/galaxy/item/event/Gun.kt
Labels: status: needs testing, type: bug, type: performance

#178 Fix place blocks on block with custom gui in viewer mode when sneaking
  src/main/kotlin/one/oktw/galaxy/player/event/Viewer.kt
Labels: status: ready to merge, system: GUI, type: bug

#175 Fix place block when open custom gui
  src/main/kotlin/one/oktw/galaxy/block/enums/CustomBlocks.kt
  src/main/kotlin/one/oktw/galaxy/block/event/BlockGUI.kt
  src/main/kotlin/one/oktw/galaxy/block/event/FakeBlock.kt
Labels: status: ready to merge, system: block, type: bug

#180 Gui view improvement
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/gui/BrowserGalaxy.kt
  src/main/kotlin/one/oktw/galaxy/gui/BrowserMember.kt
  src/main/kotlin/one/oktw/galaxy/gui/BrowserPlanet.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyJoinRequest.kt
  src/main/kotlin/one/oktw/galaxy/gui/MainMenu.kt
  src/main/kotlin/one/oktw/galaxy/gui/PageGUI.kt
  src/main/kotlin/one/oktw/galaxy/gui/view/EventDetail.kt
  src/main/kotlin/one/oktw/galaxy/gui/view/GUIView.kt
  src/main/kotlin/one/oktw/galaxy/gui/view/GridGUIView.kt
  src/main/kotlin/one/oktw/galaxy/gui/view/SlotAffected.kt
  src/main/kotlin/one/oktw/galaxy/util/DelayedExecute.kt
Labels: system: GUI, type: enhancement

#168 Add more vanilla item recipe
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/internal/register/EasyRecipeRegister.kt
Labels: status: ready to merge, type: enhancement

#182 Show star dust count on planet terminal
  src/main/kotlin/one/oktw/galaxy/gui/machine/PlanetTerminal.kt
  src/main/resources/assets/galaxy/lang/en-US.cfg
  src/main/resources/assets/galaxy/lang/zh-TW.cfg
Labels: system: GUI, type: enhancement

#183 logger error on failed saving galaxy
  src/main/kotlin/one/oktw/galaxy/galaxy/GalaxyManager.kt
Labels: system: galaxy, type: bug

#184 Fix viewer collide entity
  src/main/kotlin/one/oktw/galaxy/player/event/Viewer.kt
Labels: type: bug

#185 Misc fix
  build.gradle
  src/main/kotlin/one/oktw/galaxy/economy/StarDustKeeper.kt
  src/main/kotlin/one/oktw/galaxy/economy/event/EconomyEvent.kt
  src/main/kotlin/one/oktw/galaxy/galaxy/GalaxyManager.kt
  src/main/kotlin/one/oktw/galaxy/galaxy/data/Galaxy.kt
  src/main/kotlin/one/oktw/galaxy/galaxy/data/extensions/Galaxy.kt
  src/main/kotlin/one/oktw/galaxy/galaxy/planet/PlanetHelper.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyInfo.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyJoinRequest.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyManagement.kt
  src/main/kotlin/one/oktw/galaxy/gui/ManageMember.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/PlanetTerminal.kt
  src/main/kotlin/one/oktw/galaxy/player/event/PlayerControl.kt
  src/main/kotlin/one/oktw/galaxy/player/event/Viewer.kt
Labels: status: needs review, status: needs testing, system: galaxy, type: bug, type: performance

#186 Error message
  src/main/kotlin/one/oktw/galaxy/gui/CreatePlanet.kt
  src/main/resources/assets/galaxy/lang/en-US.cfg
  src/main/resources/assets/galaxy/lang/zh-TW.cfg
Labels: type: enhancement

#188 fix viewer cause can't pick up item
  src/main/kotlin/one/oktw/galaxy/player/event/Viewer.kt
Labels: status: needs testing, type: bug

#190 Fix wither destroy custom block
  src/main/kotlin/one/oktw/galaxy/block/event/FakeBlock.kt
Labels: status: needs testing, system: block, type: bug

#194 Book
  src/main/kotlin/one/oktw/galaxy/book/BookUtil.kt
  src/main/kotlin/one/oktw/galaxy/book/enums/BooksInLobby.kt
  src/main/kotlin/one/oktw/galaxy/command/Admin.kt
  src/main/kotlin/one/oktw/galaxy/command/admin/Book.kt
  src/main/kotlin/one/oktw/galaxy/player/event/PlayerControl.kt
Labels: status: ready to merge, system: command, system: item, type: enhancement

#196 fix player login on deleted world cause world gen
  src/main/kotlin/one/oktw/galaxy/player/event/PlayerControl.kt
Labels: status: ready to merge, system: galaxy, type: bug

#193 Try to fix performance when break block
  src/main/kotlin/one/oktw/galaxy/block/event/FakeBlock.kt
Labels: status: ready to merge, system: block, type: performance

#198 world.players not thread safe
  src/main/kotlin/one/oktw/galaxy/galaxy/planet/PlanetHelper.kt
Labels: status: ready to merge, type: bug

#199 BookUtil to Companion object
  src/main/kotlin/one/oktw/galaxy/book/BookUtil.kt
  src/main/kotlin/one/oktw/galaxy/command/admin/Book.kt
  src/main/kotlin/one/oktw/galaxy/player/event/PlayerControl.kt
Labels: status: needs testing, system: command, system: item, type: bug

#195 clean up build.gradle
  build.gradle
Labels: status: ready to merge
