Repository OKTW-Network/Galaxy, pull requests merged in 2018-10, with the labels that each got.

#201 I18n
  build.gradle
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/armor/ArmorHelper.kt
  src/main/kotlin/one/oktw/galaxy/block/data/FakeBlockItem.kt
  src/main/kotlin/one/oktw/galaxy/command/Sign.kt
  src/main/kotlin/one/oktw/galaxy/economy/event/EconomyEvent.kt
  src/main/kotlin/one/oktw/galaxy/galaxy/data/extensions/Galaxy.kt
  src/main/kotlin/one/oktw/galaxy/gui/BrowserGalaxy.kt
  src/main/kotlin/one/oktw/galaxy/gui/BrowserMember.kt
  src/main/kotlin/one/oktw/galaxy/gui/BrowserPlanet.kt
  src/main/kotlin/one/oktw/galaxy/gui/Confirm.kt
  src/main/kotlin/one/oktw/galaxy/gui/CreatePlanet.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyInfo.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyJoinRequest.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyManagement.kt
  src/main/kotlin/one/oktw/galaxy/gui/GroupSelect.kt
  src/main/kotlin/one/oktw/galaxy/gui/MainMenu.kt
  src/main/kotlin/one/oktw/galaxy/gui/ManageMember.kt
  src/main/kotlin/one/oktw/galaxy/gui/NumberSelect.kt
  src/main/kotlin/one/oktw/galaxy/gui/PageGUI.kt
  src/main/kotlin/one/oktw/galaxy/gui/UpgradeSlot.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/ChunkLoader.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/HiTechCraftingTableList.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/HiTechCraftingTableRecipe.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/PlanetTerminal.kt
  src/main/kotlin/one/oktw/galaxy/item/type/Gun.kt
  src/main/kotlin/one/oktw/galaxy/item/type/Material.kt
  src/main/kotlin/one/oktw/galaxy/item/type/Tool.kt
  src/main/kotlin/one/oktw/galaxy/item/type/Upgrade.kt
  src/main/kotlin/one/oktw/galaxy/recipe/HiTechCraftingRecipe.kt
  src/main/kotlin/one/oktw/galaxy/recipe/Recipes.kt
  src/main/kotlin/one/oktw/galaxy/translation/GalaxyTranslationProvider.kt
  src/main/kotlin/one/oktw/galaxy/translation/extensions/Text.kt
  src/main/kotlin/one/oktw/galaxy/util/Chat.kt
  src/main/resources/assets/galaxy/lang/en-US.lang
  src/main/resources/assets/galaxy/lang/zh-TW.lang
Labels: status: needs testing

#210 fix english translation
  src/main/resources/assets/galaxy/lang/en-US.lang
Labels: status: needs review, system: item, type: bug

#209 Try to fix inventory update
  src/main/kotlin/one/oktw/galaxy/gui/machine/HiTechCraftingTableList.kt
Labels: status: needs review, status: needs testing, system: GUI, type: bug

#205 Update button texture
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyInfo.kt
  src/main/kotlin/one/oktw/galaxy/gui/GalaxyManagement.kt
  src/main/kotlin/one/oktw/galaxy/gui/MainMenu.kt
  src/main/kotlin/one/oktw/galaxy/gui/PageGUI.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/PlanetTerminal.kt
Labels: status: needs review, status: needs testing, system: GUI, type: enhancement

#212 fix string
  src/main/resources/assets/galaxy/lang/zh-TW.lang
Labels: status: needs review, status: needs testing, system: GUI, type: bug

#214 remove bold on buttons
  src/main/kotlin/one/oktw/galaxy/gui/Confirm.kt
  src/main/kotlin/one/oktw/galaxy/gui/GroupSelect.kt
  src/main/kotlin/one/oktw/galaxy/gui/ManageMember.kt
  src/main/kotlin/one/oktw/galaxy/gui/PageGUI.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/ChunkLoader.kt
  src/main/kotlin/one/oktw/galaxy/gui/machine/PlanetTerminal.kt
Labels: status: needs testing, system: GUI, type: bug
