Repository OKTW-Network/Galaxy, pull requests merged in 2019-09, with the labels that each got.

#275 Move events and variables out of Join class
  src/main/java/one/oktw/galaxy/mixin/event/MixinRequestCompletions_NetworkHandler.java
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/Join.kt
  src/main/kotlin/one/oktw/galaxy/player/PlayerControl.kt
Labels: status: needs review, status: needs testing

#277 Remove colored pistols in weapon type
  src/main/kotlin/one/oktw/galaxy/item/type/WeaponType.kt
Labels: status: needs testing, system: item

#279 Refactor event system
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/chat/Exchange.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/Join.kt
  src/main/kotlin/one/oktw/galaxy/event/EventManager.kt
  src/main/kotlin/one/oktw/galaxy/event/annotation/EventListener.kt
  src/main/kotlin/one/oktw/galaxy/player/PlayerControl.kt
Labels: status: needs review, system: galaxy
