Repository OKTW-Network/Galaxy, pull requests merged in 2019-01, with the labels that each got.

#223 Upgrade item
  src/main/kotlin/one/oktw/galaxy/item/enums/UpgradeType.kt
Labels: status: needs testing, system: GUI, system: item

#229 Try fix #227
  src/main/kotlin/one/oktw/galaxy/gui/machine/Teleporter.kt
Labels: status: needs review, status: needs testing, type: bug

#231 Try fix #230
  src/main/kotlin/one/oktw/galaxy/block/event/Teleporter.kt
Labels: status: needs review, system: block, type: bug
