Repository OKTW-Network/Galaxy, pull requests merged in 2020-11, with the labels that each got.

#319 /home and /spawn enhancement
  src/main/java/one/oktw/galaxy/mixin/accessor/ServerPlayerEntityFunctionAccessor.java
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/Home.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/Spawn.kt
  src/main/resources/accessor.mixin.json
  src/main/resources/fabric.mod.json
Labels: status: needs review, status: needs testing, system: command, type: enhancement

#320 Elevator
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerJump_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerSneak_NetworkHandler.java
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/block/event/Elevator.kt
  src/main/kotlin/one/oktw/galaxy/event/type/PlayerJumpEvent.kt
  src/main/kotlin/one/oktw/galaxy/event/type/PlayerSneakEvent.kt
  src/main/resources/galaxy.mixin.json
Labels: status: needs review, status: needs testing, system: block, system: galaxy, type: feature

#327 Only keep load one chunk at spawn point
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinOneSpawnChunk_MinecraftServer.java
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinOneSpawnChunk_ServerWorld.java
  src/main/resources/tweak.mixin.json
Labels: system: galaxy, type: performance

#328 Custom recipe
  src/main/java/one/oktw/galaxy/mixin/interfaces/CustomRecipeManager.java
  src/main/java/one/oktw/galaxy/mixin/recipe/MixinCustomRecipe_CraftingResultSlot.java
  src/main/java/one/oktw/galaxy/mixin/recipe/MixinCustomRecipe_PlayerManager.java
  src/main/java/one/oktw/galaxy/mixin/recipe/MixinCustomRecipe_RecipeManager.java
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/recipe/tools/Wrench.kt
  src/main/resources/fabric.mod.json
  src/main/resources/recipe.mixin.json
Labels: status: needs testing, system: item, type: feature

#331 Async chunk load
  build.gradle.kts
  src/main/java/one/oktw/galaxy/mixin/accessor/AsyncChunk_VersionedChunkStorage.java
  src/main/java/one/oktw/galaxy/mixin/interfaces/AsyncChunk_StorageIoWorker.java
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinAsyncChunk_StorageIoWorker.java
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinAsyncChunk_ThreadedAnvilChunkStorage.java
  src/main/resources/accessor.mixin.json
  src/main/resources/fabric.mod.json
  src/main/resources/galaxy-tweak.accesswidener
  src/main/resources/tweak.mixin.json
Labels: system: galaxy, type: performance

#332 Remove entity if it stuck on water
  src/main/java/one/oktw/galaxy/mixin/interfaces/IThrownCountdown_Entity.java
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinThrownCountdown_Entity.java
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinThrownCountdown_ProjectileEntity.java
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinThrownCountdown_ThrownEntity.java
  src/main/resources/tweak.mixin.json
Labels: type: performance

#323 Wrench spin
  src/main/java/one/oktw/galaxy/mixin/accessor/ShulkerBoxBlockEntityAccessor.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerSneak_NetworkHandler.java
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/event/type/PlayerSneakReleaseEvent.kt
  src/main/kotlin/one/oktw/galaxy/item/event/Wrench.kt
  src/main/resources/accessor.mixin.json
Labels: status: needs review, status: needs testing, system: item, type: feature

#336 Add flySpeed admin command
  src/main/java/one/oktw/galaxy/mixin/accessor/PlayerAbilitiesAccessor.java
  src/main/kotlin/one/oktw/galaxy/command/commands/Admin.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/admin/FlySpeed.kt
  src/main/resources/accessor.mixin.json
Labels: system: command, type: enhancement

#340 Admin getBlock cold fix
  src/main/kotlin/one/oktw/galaxy/command/commands/admin/GetItem.kt
Labels: status: needs review, status: needs testing, system: command, type: bug
