Repository OKTW-Network/Galaxy, pull requests merged in 2021-01, with the labels that each got.

#362 Fix command suggestion
  src/main/java/one/oktw/galaxy/mixin/event/MixinCustomPayload_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinRequestCompletions_NetworkHandler.java
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/Join.kt
  src/main/kotlin/one/oktw/galaxy/event/type/ProxyResponseEvent.kt
  src/main/kotlin/one/oktw/galaxy/event/type/RequestCommandCompletionsEvent.kt
  src/main/kotlin/one/oktw/galaxy/player/PlayerControl.kt
  src/main/resources/galaxy.mixin.json
Labels: status: ready to merge, system: command, system: galaxy, type: bug

#363 修正AngelBlock不能被放在CAVE_AIR上的問題。
  src/main/kotlin/one/oktw/galaxy/block/event/AngelBlock.kt
Labels: status: needs testing, system: block, type: bug

#365 Refactor BlockEvents
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerUseItemOnBlock_ItemStack.java
  src/main/kotlin/one/oktw/galaxy/block/event/BlockEvents.kt
  src/main/kotlin/one/oktw/galaxy/block/util/CustomBlockUtil.kt
  src/main/kotlin/one/oktw/galaxy/event/type/PlayerUseItemOnBlock.kt
Labels: status: ready to merge, system: block, type: enhancement
