Repository OKTW-Network/Galaxy, pull requests merged in 2022-07, with the labels that each got.

#404 Add CustomBlockClickListener
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinCustomBlockEntity_BarrierBlock.java
  src/main/kotlin/one/oktw/galaxy/block/listener/CustomBlockClickListener.kt
Labels: status: ready to merge, system: galaxy, type: feature

#405 Remove resourcePack completely
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/resourcepack/ResourcePack.kt
Labels: type: enhancement, status: ready to merge, system: galaxy

#410 Fix block interact lock
  src/main/kotlin/one/oktw/galaxy/block/event/BlockEvents.kt
Labels: type: bug, status: ready to merge, system: block

#407 Trashcan gui
  src/main/kotlin/one/oktw/galaxy/block/entity/TrashcanBlockEntity.kt
Labels: system: GUI, status: ready to merge, type: feature

#411 Fix click custom block
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerInteractBlock_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinCustomBlockEntity_BarrierBlock.java
  src/main/kotlin/one/oktw/galaxy/block/event/BlockEvents.kt
  src/main/kotlin/one/oktw/galaxy/event/type/PlayerInteractBlockEvent.kt
Labels: type: bug, status: ready to merge, system: block

#412 EventManager add static emit function
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerAction_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerChat_MeCommand.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerChat_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerChat_SayCommand.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerInteractBlock_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerInteractItem_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerJump_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerSneak_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerUpdateSign_NetworkHandler.java
  src/main/java/one/oktw/galaxy/mixin/event/MixinPlayerUseItemOnBlock_ItemStack.java
  src/main/kotlin/one/oktw/galaxy/event/EventManager.kt
Labels: type: enhancement, status: needs testing, status: ready to merge, system: galaxy

#413 Fix player teleport to spawn not trigger chunk load
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinAsyncChunk_ServerPlayNetworkHandler.java
Labels: type: bug, system: galaxy

#414 Improve async
  src/main/kotlin/one/oktw/galaxy/Main.kt
  src/main/kotlin/one/oktw/galaxy/block/event/Elevator.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/Home.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/Spawn.kt
  src/main/kotlin/one/oktw/galaxy/gui/GUI.kt
Labels: type: enhancement, status: ready to merge, system: galaxy
