Repository OKTW-Network/Galaxy, pull requests merged in 2025-10, with the labels that each got.

#456 Add support anvil GUI
  src/main/java/one/oktw/galaxy/mixin/tweak/MixinGUI_ServerPlayNetworkHandler.java
  src/main/kotlin/one/oktw/galaxy/block/entity/TestGuiBlockEntity.kt
  src/main/kotlin/one/oktw/galaxy/gui/GUI.kt
  src/main/kotlin/one/oktw/galaxy/gui/utils/InventoryUtils.kt
  src/main/resources/tweak.mixin.json
Labels: system: GUI, type: feature, queued

#461 HTCraftingTable
  src/main/kotlin/one/oktw/galaxy/block/CustomBlock.kt
  src/main/kotlin/one/oktw/galaxy/block/HTCraftingTable.kt
  src/main/kotlin/one/oktw/galaxy/block/entity/HTCraftingTableBlockEntity.kt
  src/main/kotlin/one/oktw/galaxy/block/entity/TestGuiBlockEntity.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/Admin.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/admin/Creative.kt
  src/main/kotlin/one/oktw/galaxy/command/commands/admin/GetItem.kt
  src/main/kotlin/one/oktw/galaxy/gui/GUI.kt
  src/main/kotlin/one/oktw/galaxy/item/CustomItemBrowser.kt
  src/main/kotlin/one/oktw/galaxy/item/category/Block.kt
  src/main/kotlin/one/oktw/galaxy/item/category/CustomItemCategory.kt
  src/main/kotlin/one/oktw/galaxy/item/category/Gui.kt
  src/main/kotlin/one/oktw/galaxy/item/category/Material.kt
  src/main/kotlin/one/oktw/galaxy/item/category/Tool.kt
  src/main/kotlin/one/oktw/galaxy/item/category/Upgrade.kt
  src/main/kotlin/one/oktw/galaxy/item/category/Weapon.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/Crowbar.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/CustomItemRecipe.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/Elevator.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/HTCraftingTable.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/Harvest.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/TrashCan.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/Wrench.kt
Labels: system: GUI, type: feature, queued

#465 refactor: replace base item of non block item to recovery compass
  src/main/kotlin/one/oktw/galaxy/item/Material.kt
  src/main/kotlin/one/oktw/galaxy/item/Tool.kt
  src/main/kotlin/one/oktw/galaxy/item/Upgrade.kt
  src/main/kotlin/one/oktw/galaxy/item/Weapon.kt
  src/main/resources/data/galaxy/recipe/tools/crowbar.json
  src/main/resources/data/galaxy/recipe/tools/wrench.json
Labels: type: enhancement, status: needs testing, status: needs review, system: item, queued

#469 Custom recipe
  src/main/kotlin/one/oktw/galaxy/block/entity/HTCraftingTableBlockEntity.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/Crowbar.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/CustomItemRecipe.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/Elevator.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/HTCraftingTable.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/Harvest.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/TrashCan.kt
  src/main/kotlin/one/oktw/galaxy/item/recipe/Wrench.kt
  src/main/kotlin/one/oktw/galaxy/util/CustomRegistry.kt
Labels: type: enhancement, system: GUI, system: item, queued

#470 Harvest upgrade
  src/main/kotlin/one/oktw/galaxy/block/entity/HarvestBlockEntity.kt
  src/main/kotlin/one/oktw/galaxy/item/Upgrade.kt
  src/main/kotlin/one/oktw/galaxy/player/Harvest.kt
  src/main/kotlin/one/oktw/galaxy/util/HarvestUtil.kt
Labels: system: block, type: feature, queued
